* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("images/video_audio_background.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140% auto;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 0.7);
  z-index: -1;
}

h1 {
  width: fit-content;
  font-size: 2.3rem;
  margin: 5% auto 0 auto;
  color: azure;
}

.video-container {
  width: max-content;
  margin: 3% auto 0 auto;
  background-color: rgb(65, 64, 64);
  border: 3px solid #5f5f5f;
}

#subtitles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

#controls {
  padding: 1%;
  display: grid;
  grid-template-columns: 15% auto min-content min-content;
  align-items: center;
  column-gap: 3%;
}

.play-rewind {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#playBtn {
  cursor: pointer;
}

.arrow {
  margin: 0 4px;
  cursor: pointer;
  width: 35%;
}

.prev {
  transform: rotate(180deg);
}

.timeline {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.timeline input {
  margin-left: 1%;
  width: 100%;
}

.volume-block {
  display: flex;
  align-items: center;
}

.volume-block img {
  cursor: pointer;
}

#volume {
  width: 7em;
}

select {
  width: min-content;
  padding: 0.3rem;
  font-size: 1.2rem;
  color: #cecece;
  border-radius: 8px;
  border: 1px solid #000;
  background-color: rgb(82, 82, 82);
}
